/*IMPORTAÇÃO DE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/*CONFIGURAÇÃO GLOBAL*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background: #0d0d0d;
    color: #d7dadc;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    min-height: 100vh;
}

.layout {
    display: flex;
    width: 100%;
    max-width: 1400px; 
}


/*HEADER*/

header {
    font-family: 'Syncopate';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1a1a1b;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    z-index: 1000;
    border-bottom: 1px solid #343536;
}

header .logo {
    color: #ff4500;
    font-family: 'Syncopate';
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}

.header-login-btn {
    background-color: #ff4500;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.header-login-btn:hover {
    background-color: #ff5414;
}

.topbar {
    flex: 1;                      
    display: flex;
    justify-content: center;
}

.topbar input {
    width: 50%;
    max-width: 500px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #272729;
    color: #fff;
    border: 1px solid #343536;
}

.login-btn {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 16px;
    background: #ff4500;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/*SEARCHBAR*/
.search-bar {
    margin-top: 15px;
    margin-left: 20px;
    width: 300px;
}

/*SIDEBAR*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100vh;
    width: 250px;
    background: #1a1a1b;
    border-right: 1px solid #343536;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #ff4500;
    font-family: 'Syncopate';
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar-section h3 {
    color: #818384;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

.sidebar-section ul {
    list-style: none;
    padding: 0;
}

.sidebar-section li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #d7dadc;
}

.sidebar-section li:hover {
    background: #272729;
}

.sideicon {
    width: 18px;
}

/*USER BOX*/
.user-info {
    background: #272729;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.user-info button {
    padding: 8px 15px;
    background: #ff4500;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-info button:hover {
    background: #ff541a;
}

/*FEED*/
.feed {
    margin-left: 400px;
    padding: 80px 20px 20px;
    width: 1000PX;
    overflow-y: auto;
}

/*CARDS*/
.forums-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forum-card {
    background: #1a1a1b;
    border: 1px solid #343536;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forum-card h3 {
    color: #d7dadc;
    font-size: 18px;
}

.forum-card p {
    color: #818384;
    font-size: 14px;
}

.forum-card button {
    margin-top: 15px;
    background: #ff4500;
    border: none;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.forum-card button:hover {
    background: #ff541a;
}

/*LOGIN PAGE*/
.login-title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #ff3c00;
    margin: 100px 0 30px 0;
    font-family: 'Syncopate';
}

.login-container {
    max-width: 380px;
    margin: 0 auto;           
    padding: 35px;
    background: #111111;
    border-radius: 14px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.45);
    text-align: center;
    color: #fff;
}

.login-container h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #d3d3d3;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    background: #1a1a1a;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #7a7a7a;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #d7dadc;
    opacity: 0.7;
}

.toggle-password:hover {
    opacity: 1;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, #ff3c00, #ff5500);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}


button[type="submit"]:hover {
    filter: brightness(1.15);
}

.message {
    text-align: center;
    margin-top: 18px;
    color: #d3d3d3;
}

.message a {
    color: #ff3c00;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}


/* WRAPPER GERAL DO CHAT */
.chat-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: calc(100% - 150px); 
    height: calc(100vh - 50px);
    margin-left: 250px;     
    gap: 20px;
    margin-top: 50px;
}

/* ÁREA PRINCIPAL DO CHAT */
.chat-area {
    flex: 1;                        
    background: #0f0f0f;
    border: 1px solid #222;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 70%;  
    height: 70vh;
}

/* HEADER DO CHAT */
.chat-header h2 {
    font-size: 22px;
    font-family: 'Syncopate';
    color: #ff4500;
    margin: 0 0 15px 0;
}

/* LISTA DE MENSAGENS */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    background: #111;
    border: 1px solid #343536;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Mensagens gerais */
.msg {
    max-width: 70%;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

/* Você */
.msg-me {
    background: #ff4500;
    color: white;
    align-self: flex-end;
}

/* Outros usuários */
.msg-other {
    background: #272729;
    border: 1px solid #343536;
    align-self: flex-start;
}

.msg-user {
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 5px;
}

.msg-text {
    margin: 0;
}

/* INPUT DO CHAT */
.chat-input {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.chat-input input {
    flex: 1;
    padding: 14px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
}

.chat-input button {
    padding: 14px 20px;
    background: #ff4500;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.chat-input button:hover {
    background: #ff541a;
}

/* ===========================================
   PARTICIPANTES — LATERAL FIXA
   =========================================== */
.participants-box {
    width: 300px;
    min-width: 300px;
    background: #0b0b0b;
    border: 1px solid #222;
    border-radius: 14px;
    padding: 15px;
    overflow-y: auto;
    height: 500px;
}

.participants-box h3 {
    color: #ff4500;
    font-family: 'Syncopate';
    margin-bottom: 15px;
}

.participants-box p {
    color: #d7dadc;
    margin: 5px 0;
}

/* SCROLL PERSONALIZADO */
.chat-messages::-webkit-scrollbar,
.participants-box::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb,
.participants-box::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-track,
.participants-box::-webkit-scrollbar-track {
    background: #1a1a1b;
}

/*SIDEBAR PADRÃO*/
.sidebar {
    position: fixed;
    top: 60px; /* abaixo do header */
    left: 0;
    width: 230px;
    height: calc(100vh - 60px);
    background: #1a1a1b;
    border-right: 1px solid #343536;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    box-sizing: border-box;
}

/* Caixa do usuário */
.user-info {
    background: #272729;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.user-info p {
    margin-bottom: 10px;
    color: #fff;
}

.user-info button {
    padding: 8px 15px;
    background: #ff4500;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.user-info button:hover {
    background: #ff5a1f;
}

/* Itens do menu */
.sidebar-section {
    display: flex;
    flex-direction: column;

}

.sidebar-section li {
    display: flex;
    align-items: center;
    gap: 12px;
   
    border-radius: 10px;
    cursor: pointer;
    color: #d7dadc;
    transition: background 0.2s;
}

.sidebar-section li:hover {
    background: #272729;
}

.sideicon {
    width: 20px;
}

